<dom-module id="index-page">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment iron-positioning"></style>
		<div class="flex layout horizontal">
			<div class="flex"></div>
			<div class="layout vertical" style="width:1000px;">
				<img src="banner.png" width="1000" height="439">
				<div class="layout horizontal">
					<div class="flex"></div>
					<div class="layout vertical" style="width:300px;">
						<paper-button raised style="background-color:#6441a4;color:white;width:300px;margin-top:100px;" on-click="twitchLogin">
							<iron-icon src="twitch_logo.png"></iron-icon>
							<div style="margin-left:10px;">Login with Twitch</div>
						</paper-button>
					</div>
					<div class="flex"></div>
				</div>
			</div>
			<div class="flex"></div>
		</div>
	</template>
	<script>
		Polymer({
			is: 'index-page',
			properties: {
				
			},
			twitchLogin: function() {
				window.location = 'twitch_login_forward.php';
			}
		});
	</script>
</dom-module>