<dom-module id="mappools-page">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment iron-positioning">
			app-toolbar {
				background-color: #388E3C;
				color: #FFFFFF;
			}
		</style>
		<iron-ajax id="tiersAjax" url="data.php" params='{"query":"tiers"}' last-response="{{tiers}}" auto></iron-ajax>
		<iron-ajax id="mappoolAjax" url="data.php" params='{"query":"mappool"}' last-response="{{mappool}}"></iron-ajax>
		<iron-ajax id="mappoolZipAjax" url="data.php" params='{"query":"mappoolZip"}' on-response="mappoolZipResponse"></iron-ajax>
		<app-header fixed>
			<app-toolbar>
				<div main-title>Mappools</div>
			</app-toolbar>
		</app-header>
		<div style="height:100%;overflow:auto;" class="layout horizontal">
			<div class="flex"></div>
			<div style="width:1000px;" class="layout vertical">
				<paper-dropdown-menu label="Your Ranking Tier" style="margin-top:20px;">
					<paper-listbox class="dropdown-content" selected="{{mappoolTier}}" attr-for-selected="value">
						<template is="dom-repeat" items="[[tiers]]">
							<paper-item value="[[item.tierid]]" style="width:300px;">[[item.name]]</paper-item>
						</template>
					</paper-listbox>
				</paper-dropdown-menu>
				<paper-button hidden$="[[!downloadEnabled]]" raised style="background-color:#D850AA;color:white;margin-top:20px;height:30px;min-height:30px;" on-click="downloadMappool">Download Mappool as rar</paper-button>
				<template is="dom-repeat" items="[[mappool]]">
					<osu-beatmap-download style="margin-top:20px;" beatmap-id="[[item.beatmap_id]]" beatmapset-id="[[item.beatmapset_id]]" title="[[item.title]]" version="[[item.version]]" creator="[[item.creator]]" mod="[[item.mod]]"></osu-beatmap-download>
				</template>
			</div>
			<div class="flex"></div>
		</div>
	</template>
	<script>
		Polymer({
			is: 'mappools-page',
			properties: {
				mappoolTier: {
					type: Number,
					observer: 'mappoolTierChanged'
				},
				downloadEnabled: {
					type: Boolean,
					value: false
				},
				mappoolZipUri: String
			},
      mappoolTierChanged: function() {
      	this.$.mappoolAjax.params = {
      		'query': 'mappool',
      		'tier': this.mappoolTier
      	};
      	this.$.mappoolAjax.generateRequest();
      	this.$.mappoolZipAjax.params = {
      		'query': 'mappoolZip',
      		'tier': this.mappoolTier
      	};
      	this.$.mappoolZipAjax.generateRequest();
      },
      mappoolZipResponse: function() {
      	var response = this.$.mappoolZipAjax.lastResponse;
      	if (response && response[0] && response[0].uri) {
      		this.mappoolZipUri = response[0].uri;
      		this.downloadEnabled = true;
      	} else {
      		this.mappoolZipUri = '';
      		this.downloadEnabled = false;
      	}
      },
      downloadMappool: function() {
      	window.open(this.mappoolZipUri);
      }
		})
	</script>
</dom-module>