<dom-module id="osu-profile">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment iron-positioning"></style>
		<paper-card elevation="1" class="flex layout vertical" style="height:128px;width:500px;background-color:#212121;">
			<div class="card-content" style="height:128px;width:500px;padding:0;">
				<div class="layout horizontal">
					<img src="https://a.ppy.sh/[[userId]]" style="height:128px;width:128px;">
					<div class="flex layout vertical" style="margin-left:10px;color:white;">
						<div style="font-size:40px;margin-bottom:10px;"><a style="text-decoration:none;color:white;" target="_blank" href="https://osu.ppy.sh/u/[[userId]]">[[username]]</a></div>
						<div style="font-size:12px;z-index:2">Performance:<span>[[osuPP]]</span>pp</div>
						<div style="font-size:12px;z-index:2">Accuracy:<span>[[osuAccuracy]]</span>%</div>
						<div style="font-size:12px;z-index:2">Play Count: <span>[[osuPlayCount]]</span> (LV<span>[[osuLevel]]</span>)</div>
						<div hidden$="[[ref]]" style="font-size:12px;z-index:2">Timezone: <span>[[timezone]]</span></div>
						<div hidden$="[[!ref]]" style="font-size:12px;z-index:2">!mp move <span>[[userId]]</span></div>
						<div style="position:absolute;right:10px;bottom:0;z-index:1;font-size:60px;opacity:0.5;">#<span>[[osuRank]]</span></div>
						<iron-icon style="position:absolute;right:10px;top:10px;height:40px;width:40px;" src="sub_logo.png" hidden$="[[!happystickSub]]"></iron-icon>
					</div>
				</div>
			</div>
		</paper-card>
	</template>
	<script>
		Polymer({
			is: 'osu-profile',
			properties: {
				userId: Number,
				username: String,
				osuPP: Number,
				osuRank: Number,
				osuAccuracy: Number,
				osuPlayCount: Number,
				osuLevel: Number,
				timezone: String,
				happystickSub: {
					type: Boolean,
					value: false
				},
				ref: {
					type: Boolean,
					value: false
				}
			}
		})
	</script>
</dom-module>