<dom-module id="osu-beatmap" style="height:150px;">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment iron-positioning"></style>
		<paper-card elevation="1" class="flex layout vertical" style="height:150px;width:900px;background-color:#212121;">
			<div class="card-content" style="height:150px;width:900px;padding:0;">
				<div class="layout horizontal" style="height:150px;width:900px;">
					<div class="layout vertical" style="color:white;text-shadow: 2px 2px black;height:150px;width:900px;opacity:1;z-index:3;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;">
						<div style="font-size:40px;margin-left:10px;"><a href="https://osu.ppy.sh/b/[[beatmapId]]" style="text-decoration:none;color:white;" target="_blank"><span>[[title]]</span> [<span>[[version]]</span>]</a></div>
						<div style="font-size:20px;margin-left:10px;margin-bottom:10px;">[[creator]]</div>
						<div class="flex"></div>
						<div class="layout horizontal" style="margin-bottom:10px;" hidden$="[[noRef]]">
							<div style="font-size:20px;margin-left:10px;">!mp map <span>[[beatmapId]]</span></div>
							<div class="flex"></div>
							<div style="font-size:20px;margin-right:10px;">!mp mods <span>[[mod]]</span></div>
						</div>
						<div class="layout horizontal" style="margin-bottom:10px;" hidden$="[[!noRef]]">
							<div class="flex"></div>
							<div style="font-size:20px;margin-right:10px;">[[modText]]</div>
						</div>
					</div>
					<div style="background-image:url('https://assets.ppy.sh//beatmaps/[[beatmapsetId]]/covers/cover.jpg');height:150px;width:900px;position:absolute;top:0;left:0;opacity:0.5;z-index:1;"></div>
					<div id="modImage" style="height:90px;width:90px;position:absolute;top:10px;right:10px;z-index:2;"></div>
				</div>
			</div>
		</paper-card>
	</template>
	<script>
		Polymer({
			is: 'osu-beatmap',
			properties: {
				beatmapId: Number,
				beatmapsetId: Number,
				title: String,
				version: String,
				creator: String,
				mod: {
					type: String,
					observer: 'modChanged',
					value: 'none'
				},
				noRef: {
					type: Boolean,
					value: false
				}
			},
			modChanged: function() {
				if (this.mod == 'DT') {
					this.$.modImage.style.backgroundImage = "url('mod-DT.png')";
				} else if (this.mod == 'HD') {
					this.$.modImage.style.backgroundImage = "url('mod-HD.png')";
				} else if (this.mod == 'HR') {
					this.$.modImage.style.backgroundImage = "url('mod-HR.png')";
				} else {
					this.$.modImage.style.backgroundImage = "none";
				}
				if (this.mod == 'None') {
					this.modText = 'Nomod';
				} else if (this.mod == 'HD') {
					this.modText = 'Hidden';
				} else if (this.mod == 'HR') {
					this.modText = 'Hardrock';
				} else if (this.mod == 'DT') {
					this.modText = 'Doubletime';
				} else if (this.mod == 'Freemod') {
					this.modText = 'Freemod';
				} else if (this.mod == 'Tiebreaker') {
					this.modText = 'Tiebreaker';
				}
			}
		})
	</script>
</dom-module>