<dom-module id="osu-beatmap-download">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment iron-positioning"></style>
		<div class="layout horizontal">
			<osu-beatmap beatmap-id="[[beatmapId]]" beatmapset-id="[[beatmapsetId]]" title="[[title]]" version="[[version]]" creator="[[creator]]" mod="[[mod]]" no-ref></osu-beatmap>
			<div class="layout vertical" style="margin-left:20px;">
				<a href="https://osu.ppy.sh/d/[[beatmapsetId]]"><img src="osu-download.png" style="height:150px;"></a>
			</div>
			<div class="layout vertical" style="margin-left:20px;">
				<a href="osu://b/[[beatmapId]]"><img src="osu-download-direct.png" style="height:150px;"></a>
			</div>
		</div>
	</template>
	<script>
		Polymer({
			is: 'osu-beatmap-download',
			properties: {
				beatmapId: Number,
				beatmapsetId: Number,
				title: String,
				version: String,
				creator: String,
				mod: String
			}
		})
	</script>
</dom-module>