<dom-module id="osu-score">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment iron-positioning"></style>
		<div class="layout horizontal">
			<paper-card elevation="1" class="layout vertical" style="height:64px;width:500px;background-color:#212121;">
				<div class="card-content" style="height:64px;width:500px;padding:0;">
					<div class="layout horizontal">
						<img src="https://a.ppy.sh/[[userId]]" style="height:64px;width:64px;">
						<div class="flex layout vertical" style="margin-left:10px;color:white;">
							<div style="font-size:30px;">[[username]]</div>
							<div>Score: <span>[[score]]</span> (<span>[[combo]]</span>x)</div>
						</div>
						<div class="layout vertical" style="width:64px;color:red;">
							<div hidden$="[[pass]]">FAILED</div>
						</div>
						<div class="layout vertical" style="width:64px;color:white;text-align:right;">
							<div><span>[[accuracy]]</span>%</div>
						</div>
					</div>
				</div>
			</paper-card>
			<div class="layout vertical" style="margin-left:10px;">
				<div class="flex"></div>
				<div style="font-size:30px;">[[points]]</div>
				<div class="flex"></div>
			</div>
		</div>
	</template>
	<script>
		Polymer({
			is: 'osu-score',
			properties: {
				userId: Number,
				username: String,
				score: Number,
				combo: Number,
				accuracy: String,
				pass: {
					type: Boolean,
					value: false
				},
				passSetter: {
					type: String,
					observer: 'passChanged'
				},
				points: Number
			},
			passChanged: function() {
				this.pass = this.passSetter == '1';
			}
		})
	</script>
</dom-module>