<dom-module id="osu-rank">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment iron-positioning"></style>
		<div class="layout horizontal">
			<osu-profile user-id="[[userId]]" username="[[username]]" osu-p-p="[[osuPP]]" osu-rank="[[osuRank]]" osu-accuracy="[[osuAccuracy]]" osu-play-count="[[osuPlayCount]]" osu-level="[[osuLevel]]"></osu-profile>
			<div style="margin-left:10px;font-size:60px;margin-top:20px;">[[score]]</div>
		</div>
	</template>
	<script>
		Polymer({
			is: 'osu-rank',
			properties: {
				userId: Number,
				username: String,
				osuPP: Number,
				osuRank: Number,
				osuAccuracy: Number,
				osuPlayCount: Number,
				osuLevel: Number,
				happystickSub: {
					type: Boolean,
					value: false
				},
				score: Number
			}
		})
	</script>
</dom-module>