<dom-module id="tourney-lobby">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment iron-positioning"></style>
		<paper-card heading="[[lobbyId]]" style="background-color:#C8E6C9;">
			<div class="card-content layout vertical">
				<div>[[tierName]]</div>
				<div>[[timezone]]</div>
				<div style="height:260px;overflow:auto;">
					<template is="dom-repeat" items="[[players]]">
						<osu-profile user-id="[[item.osu_user_id]]" username="[[item.username]]" osu-p-p="[[item.pp_raw]]" osu-rank="[[item.pp_rank]]" osu-accuracy="[[item.accuracy]]" osu-play-count="[[item.playcount]]" osu-level="[[item.level]]" timezone="[[timezone]]"></osu-profile>
					</template>
				</div>
			</div>
			<paper-button hidden$="[[!ref]]" raised style="position:absolute;top:10px;right:10px;background-color:#ffffff;" on-click="load">Choose</paper-button>
		</paper-card>
	</template>
	<script>
		Polymer({
			is: 'tourney-lobby',
			properties: {
				lobbyId: Number,
				tierName: String,
				timezone: String,
				players: Array,
				ref: {
					type: Boolean,
					value: false
				}
			},
			load: function() {
				this.fire('load', {lobbyId: this.lobbyId});
			}
		});
	</script>
</dom-module>