<dom-module id="admins-page">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment iron-positioning">
			app-toolbar {
				background-color: #388E3C;
				color: #FFFFFF;
			}
		</style>
		<iron-ajax id="playersAjax" url="data.php" params='{"query":"players"}' last-response="{{players}}" auto></iron-ajax>
		<iron-ajax id="lobbiesAjax" url="data.php" params='{"query":"lobbies","matchid":"1"}' last-response="{{lobbies}}" auto></iron-ajax>
		<iron-ajax id="tiersAjax" url="data.php" params='{"query":"tiers"}' last-response="{{tiers}}" auto></iron-ajax>
		<iron-ajax id="modsAjax" url="data.php" params='{"query":"mods"}' last-response="{{mods}}" auto></iron-ajax>
		<iron-ajax id="mappoolAjax" url="data.php" params='{"query":"mappool"}' last-response="{{mappool}}"></iron-ajax>
		<iron-ajax id="addBeatmapAjax" url="data.php" params='{"query":"addBeatmap"}' on-response="addBeatmapResponse"></iron-ajax>
		<iron-ajax id="deleteBeatmapAjax" url="data.php" params='{"query":"deleteBeatmap"}' on-response="deleteBeatmapResponse"></iron-ajax>
		<iron-ajax id="mappoolZipAjax" url="data.php" params='{"query":"mappoolZipAjax"}' on-response="mappoolZipResponse"></iron-ajax>
		<iron-ajax id="saveMappoolZipAjax" url="data.php" params='{"query":"saveMappoolZip"}'></iron-ajax>
		<iron-ajax id="uploadAjax" url="data.php" method="POST" content-type="application/json" params='{"query":"userUpload"}' body="[[userData]]" on-response="uploadResponse"></iron-ajax>
		<app-header fixed>
			<app-toolbar>
				<paper-icon-button icon="menu" onclick="drawer.toggle()"></paper-icon-button>
				<div main-title>[[menuSelected]]</div>
			</app-toolbar>
		</app-header>
		<app-drawer id="drawer" swipe-open style="z-index:1000;">
			<div style="height:100%;overflow:auto;">
				<paper-menu selected="{{menuSelected}}" attr-for-selected="value">
					<paper-item value="Players">Players</paper-item>
					<paper-item value="Lobbies">Lobbies</paper-item>
					<paper-item value="Mappools">Mappools</paper-item>
					<paper-item value="Upload">Upload</paper-item>
				</paper-menu>
			</div>
		</app-drawer>
		<iron-pages selected="[[menuSelected]]" attr-for-selected="value">
			<div value="Players">
				<div style="height:100%;overflow:auto;" class="layout horizontal wrap">
					<template is="dom-repeat" items="[[players]]">
						<div class="layout horizontal" style="margin:10px;">
							<osu-profile user-id="[[item.osu_user_id]]" username="[[item.username]]" osu-p-p="[[item.pp_raw]]" osu-rank="[[item.pp_rank]]" osu-accuracy="[[item.accuracy]]" osu-play-count="[[item.playcount]]" osu-level="[[item.level]]" timezone="[[item.timezone]]"></osu-profile>
						</div>
					</template>
				</div>
			</div>
			<div value="Lobbies">
				<div style="height:100%;overflow:auto;" class="layout horizontal wrap">
					<template is="dom-repeat" items="[[lobbies]]">
						<tourney-lobby style="margin:10px;" lobby-id="[[item.lobby_id]]" tier-name="[[item.tier_name]]" timezone="[[item.timezone]]" players="[[item.players]]"></tourney-lobby>
					</template>
				</div>
			</div>
			<div value="Mappools">
				<div style="height:100%;overflow:auto;" class="layout horizontal">
					<div class="flex"></div>
					<div style="width:1000px;" class="layout vertical">
						<paper-dropdown-menu label="Tier" style="margin-top:20px;">
							<paper-listbox class="dropdown-content" selected="{{mappoolTier}}" attr-for-selected="value">
								<template is="dom-repeat" items="[[tiers]]">
									<paper-item value="[[item.tierid]]" style="width:300px;">[[item.name]]</paper-item>
								</template>
							</paper-listbox>
						</paper-dropdown-menu>
						<div class="layout horizontal" style="margin-top:20px;margin-bottom:20px;">
							<paper-input label="Mappool Zip URL" value="{{mappoolZipUri}}" style="width:700px;"></paper-input>
							<paper-button style="background-color:#65B309;color:white;margin-left:20px;" on-click="saveMappoolZipUri" raised>Save</paper-button>
						</div>
						<div class="layout horizontal" style="margin-top:20px;margin-bottom:20px;">
							<paper-input label="Beatmap ID" value="{{addBeatmapId}}"></paper-input>
							<paper-dropdown-menu label="Mod" style="margin-left:20px;">
								<paper-listbox class="dropdown-content" selected="{{addBeatmapMod}}" attr-for-selected="value">
									<template is="dom-repeat" items="[[mods]]">
										<paper-item value="[[item.modid]]">[[item.name]]</paper-item>
									</template>
								</paper-listbox>
							</paper-dropdown-menu>
							<paper-button style="background-color:#65B309;color:white;margin-left:20px;" on-click="addBeatmap" raised>Add</paper-button>
						</div>
						<template is="dom-repeat" items="[[mappool]]">
							<div class="layout horizontal">
								<osu-beatmap style="margin-top:20px;" beatmap-id="[[item.beatmap_id]]" beatmapset-id="[[item.beatmapset_id]]" title="[[item.title]]" version="[[item.version]]" creator="[[item.creator]]" mod="[[item.mod]]"></osu-beatmap>
								<div class="layout vertical" style="margin-left:20px;">
									<div class="flex"></div>
									<paper-icon-button icon="delete" on-click="deleteBeatmap" style="width:50px;height:50px;"></paper-icon-button>
									<div class="flex"></div>
								</div>
							</div>
						</template>
					</div>
					<div class="flex"></div>
				</div>
			</div>
			<div value="Upload">
				<div style="height:100%;overflow:auto;" class="layout horizontal">
					<div class="flex"></div>
					<div style="width:1000px;" class="layout vertical">
				    <input style="margin-top:20px;" type="file" on-change="fileChosen">
				    <paper-button style="background-color:#65B309;color:white;margin-top:20px;" on-click="upload" raised>Upload</paper-button>
					</div>
					<div class="flex"></div>
				</div>
			</div>
		</iron-pages>
	</template>
	<script>
		Polymer({
			is: 'admins-page',
			properties: {
				menuSelected: {
					type: String,
					value: 'Players'
				},
				mappoolTier: {
					type: Number,
					observer: 'mappoolTierChanged'
				},
				mappoolZipUri: String
			},
			fileChosen: function(e) {
        this.file = e.target.files[0];
      },
      mappoolTierChanged: function() {
      	this.$.mappoolAjax.params = {
      		'query': 'mappool',
      		'tier': this.mappoolTier
      	};
      	this.$.mappoolAjax.generateRequest();
      	this.$.mappoolZipAjax.params = {
      		'query': 'mappoolZip',
      		'tier': this.mappoolTier
      	};
      	this.$.mappoolZipAjax.generateRequest();
      },
      upload: function() {
        this.reader = new FileReader();
        this.reader.onload = this.readData.bind(this);
        this.reader.readAsBinaryString(this.file);
      },
      uploadResponse: function() {
      	this.$.playersAjax.generateRequest();
      	this.$.lobbiesAjax.generateRequest();
      },
      readData: function(e) {
        var data = e.target.result;
        var workbook = XLSX.read(data, {type: 'binary'});
        var worksheet = workbook.Sheets['Lobbies'];
        this.userData = [];
        var row = 1;
        while (true) {
          if (worksheet[XLSX.utils.encode_cell({c: 0, r: row})] && worksheet[XLSX.utils.encode_cell({c: 1, r: row})] && worksheet[XLSX.utils.encode_cell({c: 2, r: row})] && worksheet[XLSX.utils.encode_cell({c: 3, r: row})]) {
            var userObject = {
            	lobby: worksheet[XLSX.utils.encode_cell({c: 0, r: row})].v,
            	tier: worksheet[XLSX.utils.encode_cell({c: 1, r: row})].v,
            	timezone: worksheet[XLSX.utils.encode_cell({c: 2, r: row})].v,
            	username: worksheet[XLSX.utils.encode_cell({c: 3, r: row})].v,
            	rank: worksheet[XLSX.utils.encode_cell({c: 5, r: row})].v
            };
            this.push('userData', userObject);
            row++;
          } else {
            break;
          }
        }
        this.$.uploadAjax.generateRequest();
      },
      addBeatmap: function() {
      	this.$.addBeatmapAjax.params = {
      		'query': 'addBeatmap',
      		'tier': this.mappoolTier,
      		'beatmapid': this.addBeatmapId,
      		'mod': this.addBeatmapMod
      	};
      	this.$.addBeatmapAjax.generateRequest();
      },
      addBeatmapResponse: function() {
      	this.$.mappoolAjax.generateRequest();
      },
      deleteBeatmap: function(e) {
      	this.$.deleteBeatmapAjax.params = {
      		'query': 'deleteBeatmap',
      		'poolid': e.model.item.pool_id
      	};
      	this.$.deleteBeatmapAjax.generateRequest();
      },
      deleteBeatmapResponse: function() {
      	this.$.mappoolAjax.generateRequest();
      },
      mappoolZipResponse: function() {
      	var response = this.$.mappoolZipAjax.lastResponse;
      	if (response && response[0] && response[0].uri) {
      		this.mappoolZipUri = response[0].uri;
      	} else {
      		this.mappoolZipUri = '';
      	}
      },
      saveMappoolZipUri: function() {
      	this.$.saveMappoolZipAjax.params = {
      		'query': 'saveMappoolZip',
      		'tier': this.mappoolTier,
      		'uri': this.mappoolZipUri
      	};
      	this.$.saveMappoolZipAjax.generateRequest();
      }
		})
	</script>
</dom-module>