<dom-module id="referees-page">
  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment iron-positioning">
      paper-tabs {
        background-color: #4CAF50;
        color: white;
        --paper-tabs-selection-bar-color: white;
      }
    </style>
    <iron-ajax id="matchDataAjax" url="data.php" params='{"query":"matchData"}' on-response="matchDataResponse"></iron-ajax>
    <iron-ajax id="lobbiesAjax" url="data.php" params='{"query":"lobbies","matchid":"1"}' last-response="{{lobbies}}" auto></iron-ajax>
    <iron-ajax id="mappoolAjax" url="data.php" params='{"query":"mappool"}' last-response="{{mappool}}"></iron-ajax>
    <iron-ajax id="playersAjax" url="data.php" params='{"query":"players"}' last-response="{{players}}"></iron-ajax>
    <iron-location query="{{queryParams}}"></iron-location>
    <div class="layout vertical">
      <paper-tabs selected="{{selected}}" attr-for-selected="value">
        <paper-tab value="lobbies">LOBBIES</paper-tab>
        <paper-tab value="match">MATCH</paper-tab>
        <paper-tab value="players">PLAYERS</paper-tab>
        <paper-tab value="mappool">MAPPOOL</paper-tab>
        <paper-tab value="irc">IRC COMMANDS</paper-tab>
      </paper-tabs>
      <iron-pages selected="[[selected]]" attr-for-selected="value" class="flex layout vertical">
        <div value="lobbies">
          <div style="height:100%;overflow:auto;" class="layout horizontal wrap">
            <template is="dom-repeat" items="[[lobbies]]">
              <tourney-lobby style="margin:10px;" lobby-id="[[item.lobby_id]]" tier-name="[[item.tier_name]]" timezone="[[item.timezone]]" players="[[item.players]]" on-load="loadLobby" ref></tourney-lobby>
            </template>
          </div>
        </div>
        <div value="match">
          <div style="height:100%;overflow:auto;" class="layout horizontal">
            <div class="flex"></div>
            <div style="width:1000px;" class="layout vertical">
              <paper-input label="match id" value="{{matchId}}"></paper-input>
              <paper-button raised style="background-color:#65B309;color:white;" on-click="searchMatch" disabled$="[[searchDisabled]]">Search</paper-button>
              <div style="margin-top:20px;"><b>[[matchName]]</b></div>
              <div style="margin-top:20px;font-size:20px;"><b>Overall scores</b></div>
              <template is="dom-repeat" items="[[overallScores]]">
                <osu-rank style="margin-top:10px;" user-id="[[item.user_id]]" username="[[item.username]]" osu-p-p="[[item.pp_raw]]" osu-rank="[[item.pp_rank]]" osu-accuracy="[[item.accuracy]]" osu-play-count="[[item.playcount]]" osu-level="[[item.level]]" score="[[item.score]]"></osu-rank>
              </template>
              <template is="dom-repeat" items="[[games]]">
                <osu-beatmap style="margin-top:20px;" beatmap-id="[[item.beatmap_id]]" beatmapset-id="[[item.beatmapset_id]]" title="[[item.title]]" version="[[item.version]]" creator="[[item.creator]]" mod="[[item.mod]]"></osu-beatmap>
                <template is="dom-repeat" items="[[item.scores]]">
                  <osu-score style="margin-top:5px;margin-left:20px;" user-id="[[item.user_id]]" username="[[item.username]]" score="[[item.score]]" combo="[[item.combo]]" accuracy="[[item.accuracy]]" pass-setter="[[item.pass]]" countmiss="[[item.countmiss]]" count50="[[item.count50]]" count100="[[item.count100]]" count300="[[item.count300]]" points="[[item.points]]"></osu-score>
                </template>
              </template>
            </div>
            <div class="flex"></div>
          </div>
        </div>
        <div value="players">
          <div style="height:100%;overflow:auto;" class="layout horizontal">
            <div class="flex"></div>
            <div class="layout vertical">
              <template is="dom-repeat" items="{{players}}">
                <osu-profile user-id="[[item.osu_user_id]]" username="[[item.username]]" osu-p-p="[[item.pp_raw]]" osu-rank="[[item.pp_rank]]" osu-accuracy="[[item.accuracy]]" osu-play-count="[[item.playcount]]" osu-level="[[item.level]]" timezone="[[item.timezone]]" style="margin-top:10px;" ref></osu-profile>
              </template>
            </div>
            <div class="flex"></div>
          </div>
        </div>
        <div value="mappool">
          <div style="height:100%;overflow:auto;" class="layout horizontal">
            <div class="flex"></div>
            <div class="layout vertical">
              <template is="dom-repeat" items="{{mappool}}">
                <osu-beatmap style="margin-top:20px;" beatmap-id="[[item.beatmap_id]]" beatmapset-id="[[item.beatmapset_id]]" title="[[item.title]]" version="[[item.version]]" creator="[[item.creator]]" mod="[[item.mod]]"></osu-beatmap>
              </template>
            </div>
            <div class="flex"></div>
          </div>
        </div>
        <div value="irc">
          <div style="height:100%;overflow:auto;" class="layout horizontal">
            <div class="flex"></div>
            <div class="layout vertical">
              <div style="margin-top:20px;">If you don't have an IRC client, get one <a href="https://hexchat.github.io/downloads.html">here.</a></div>
              <div style="margin-top:10px;"><a href="https://osu.ppy.sh/p/irc">Click here</a> to get your password for the IRC connection.</div>
              <div style="margin-top:10px;">Connect with your osu username and the password you just got to irc.ppy.sh</div>
              <div style="margin-top:10px;">A complete list of IRC commands can be found on the <a href="https://osu.ppy.sh/wiki/Osu!tourney#IRC_Commands_.28optional.29">osu wiki.</a></div>
              <div style="margin-top:20px;" class="layout horizontal">
                <div style="width:250px;">!mp make &lt;name&gt;</div>
                <div>Create the multiplayer lobby</div>
              </div>
              <div style="margin-top:20px;" class="layout horizontal">
                <div style="width:250px;">!mp lock</div>
                <div>Locks the room so that players can't change their team and slot</div>
              </div>
              <div style="margin-top:20px;" class="layout horizontal">
                <div style="width:250px;">!mp unlock</div>
                <div>Unlocks the room</div>
              </div>
              <div style="margin-top:20px;" class="layout horizontal">
                <div style="width:250px;">!mp size &lt;size&gt;</div>
                <div>Sets the amount of available slots in the room</div>
              </div>
              <div style="margin-top:20px;" class="layout horizontal">
                <div style="width:250px;">!mp move &lt;username&gt;</div>
                <div>Moves the player into the room</div>
              </div>
              <div style="margin-top:20px;" class="layout horizontal">
                <div style="width:250px;">!mp kick &lt;username&gt;</div>
                <div>Kicks the player from the room</div>
              </div>
              <div style="margin-top:20px;" class="layout horizontal">
                <div style="width:250px;">!mp map &lt;mapid&gt;</div>
                <div>Changes the beatmap of the room</div>
              </div>
              <div style="margin-top:20px;" class="layout horizontal">
                <div style="width:250px;">!mp mods &lt;mod&gt; [&lt;mod&gt;] ...</div>
                <div>Applies these mods to the room<br>HR, DT, HD, Freemod, None</div>
              </div>
              <div style="margin-top:20px;" class="layout horizontal">
                <div style="width:250px;">!mp start [&lt;time&gt;]</div>
                <div>Starts the match after &lt;time&gt; seconds<br>Default is 0 seconds</div>
              </div>
              <div style="margin-top:20px;" class="layout horizontal">
                <div style="width:250px;">!mp timer [&lt;time&gt;]</div>
                <div>Begins a countdown timer<br>Default is 30 seconds</div>
              </div>
              <div style="margin-top:20px;" class="layout horizontal">
                <div style="width:250px;">!mp aborttimer</div>
                <div>Stops the current timer</div>
              </div>
              <div style="margin-top:20px;" class="layout horizontal">
                <div style="width:250px;">!mp close</div>
                <div>Close the multiplayer lobby (do this after the match is finished!)</div>
              </div>
            </div>
            <div class="flex"></div>
          </div>
        </div>
      </iron-pages>
    </div>
    <paper-toast id="successToast" text="[[successMessage]]"></paper-toast>
    <paper-toast id="errorToast" text="[[errorMessage]]" style="background-color:red;color:white;"></paper-toast>
  </template>
  <script>
    Polymer({
      is: 'referees-page',
      properties: {
        matchId: Number,
        matchName: String,
        games: Array,
        overallScores: Array,
        queryParams: {
          type: String,
          notify: true,
          observer: 'queryParamsChanged'
        },
        searchDisabled: {
          type: Boolean,
          value: false
        },
        selected: {
          type: String,
          value: 'match'
        },
        lobbyId: Number
      },
      searchMatch: function() {
        this.searchDisabled = true;
        this.$.matchDataAjax.params = {
          'query': 'matchData',
          'matchid': this.matchId
        };
        this.$.matchDataAjax.generateRequest();
      },
      matchDataResponse: function() {
        this.searchDisabled = false;
        var response = this.$.matchDataAjax.lastResponse;
        console.log(response);
        if (response) {
          this.matchName = response.match.name;
          this.overallScores = response.overall;
          this.games = [];
          for (var gameCounter in response.games) {
            var game = {};
            game.beatmap_id = response.games[gameCounter].beatmap_id;
            game.beatmapset_id = response.games[gameCounter].beatmapset_id;
            game.title = response.games[gameCounter].title;
            game.version = response.games[gameCounter].version;
            game.creator = response.games[gameCounter].creator;
            game.mod = response.games[gameCounter].mod;
            game.scores = [];
            for (var scoreCounter in response.games[gameCounter].scores) {
              game.scores[scoreCounter] = {};
              game.scores[scoreCounter].user_id = response.games[gameCounter].scores[scoreCounter].user_id;
              game.scores[scoreCounter].username = response.games[gameCounter].scores[scoreCounter].username;
              game.scores[scoreCounter].score = response.games[gameCounter].scores[scoreCounter].score;
              game.scores[scoreCounter].combo = response.games[gameCounter].scores[scoreCounter].maxcombo;
              game.scores[scoreCounter].pass = response.games[gameCounter].scores[scoreCounter].pass;
              game.scores[scoreCounter].points = response.games[gameCounter].scores[scoreCounter].points;
              var countmiss = response.games[gameCounter].scores[scoreCounter].countmiss;
              var count50 = response.games[gameCounter].scores[scoreCounter].count50;
              var count100 = response.games[gameCounter].scores[scoreCounter].count100;
              var count300 = response.games[gameCounter].scores[scoreCounter].count300;
              var totalPointsOfHits = parseInt(count50) * 50 + parseInt(count100) * 100 + parseInt(count300) * 300;
              var totalNumberOfHits = parseInt(countmiss) + parseInt(count50) + parseInt(count100) + parseInt(count300);
              game.scores[scoreCounter].accuracy = Math.round(((totalPointsOfHits / (totalNumberOfHits * 300)) * 100) * 100) / 100;
            }
            this.push('games', game);
          }
        }
      },
      queryParamsChanged: function() {
        if (this.queryParams.substring(0, 8) == 'matchid=') {
          this.matchId = this.queryParams.substring(8);
          this.searchMatch();
        }
      },
      loadLobby: function(e) {
        this.lobbyId = e.detail.lobbyId;
        this.$.mappoolAjax.params = {
          'query': 'mappool',
          'lobbyId': this.lobbyId
        };
        this.$.mappoolAjax.generateRequest();
        this.$.playersAjax.params = {
          'query': 'players',
          'lobbyId': this.lobbyId
        };
        this.$.playersAjax.generateRequest();
        this.selected = 'players';
      }
    })
  </script>
</dom-module>